################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_build/Debug/Spareio.vshost.exe.manifest
/.vs/XReward/v15
/Lib
/Spareio.Uninstaller/obj/Debug
/XRewardInstaller/Lib.zip
/Lib.zip
