<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spareio.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="DbPath" value="C:\\ProgramData\\Spareio\\Config"/>
      <add key="MineConfigServiceUrl" value="http://rt.webcompanion.com/notifications/download/rt/Installer/EngineInfo.txt"/>
      <add key="MineConfigFilePath" value="C:\\ProgramData\\Spareio\\Config"/>
    </appSettings>
    <userSettings>
        <Spareio.UI.Properties.Settings>
            <setting name="SSBattery" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SSPluggedIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DOBattery" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DOPluggedIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InactivityCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Spareio.UI.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISpareioWCF" />
                <!--<binding name="WSHttpBinding_ISpareioWCF1" />-->
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:7097/SpareioWCF/rest" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISpareioWCF" contract="SpareioClient.ISpareioWCF"
                name="WSHttpBinding_ISpareioWCF">
                <identity>
                    <servicePrincipalName value="host/JAY-LAPTOP.lavasoft.net" />
                </identity>
            </endpoint>-->
            <endpoint address="http://localhost:7097/SpareioWCF" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISpareioWCF" contract="SpareioClient.ISpareioWCF"
                name="WSHttpBinding_ISpareioWCF1">
                <!--<identity>
                    <servicePrincipalName value="host/JAY-LAPTOP.lavasoft.net" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>