<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="DbPath" value="C:\\Program Files\\Spareio\\Config"/>
    <add key="MineConfigServiceUrl" value="http://rt.webcompanion.com/notifications/download/rt/Installer/EngineInfo.txt"/>
    <add key="MineConfigFilePath" value="C:\\Program Files\\Spareio\\Config"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Metadata" name="Spareio.WCF.SpareioWCF">
        <endpoint address="rest" binding="wsHttpBinding" contract="Spareio.WCF.ISpareioWCF">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7097/SpareioWCF" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <!--<supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>-->
  </startup>
</configuration>